@import "./base.css";

#app {
  margin: 0;
  padding: 2rem;
  height: 100vh;
  font-weight: normal;

  background-color: #e7f3d5;
  opacity: 1;
  background-image: radial-gradient(#7a9852 0.5px, #f1f8e7 0.5px);
  background-size: 10px 10px;
  background-repeat: repeat;
}
